* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 3rem;
}

ul,
ol {
  list-style: none;
}

.loader {
  display: inline-block;
  border: 6px solid rgba(0, 0, 0, 0.25);
  border-top: 6px solid #3498db;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 36px;
  animation: spin 2s linear infinite;
}

.back-quiz-button {
  width: 30px;
  display: flex;
}

.download-quiz-button {
  width: 24px;
  display: flex;
}

svg {
  width: 100%;
  aspect-ratio: 1/1;
}

#title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
  gap: 1rem;
}

#quiz-title {
  margin-bottom: 0;
  cursor: pointer;
}

#quiz-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1.5rem;
}

.quiz {
  margin-bottom: 0.75rem;
}

.question {
  text-align: justify;
  cursor: pointer;
}

.answer {
  margin-left: 1.5rem;
  margin-top: 0.75rem;
  cursor: pointer;
}

.answer--true {
  color: rgb(0, 128, 0);
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0, 128, 0, 0.5);
}

.answer--false {
  color: rgb(255, 0, 0);
  font-weight: bold;
  text-shadow: 0 0 3px rgba(255, 0, 0, 0.5);
}

@media screen and (max-width: 992px) {
  #quiz-list {
    grid-template-columns: 1fr;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
